* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color:  hsl(36, 100%, 99%);
  color: hsl(240, 100%, 5%);
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem;
}

img {
  width: 100%;
  display: block;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  width: 65px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

.nav a:hover {
  color: hsl(5, 85%, 63%);
}


.main-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  margin-bottom: 4rem;
}


.hero-img {
  margin-bottom: 1.5rem;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hero-content h2 {
  font-size: 3rem;
  font-weight: 800;
}

.hero-text p {
  color: #5e607a;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.hero-text button {
  background-color: hsl(5, 85%, 63%);
  color:  hsl(240, 100%, 5%);
  border: none;
  padding: 0.8rem 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

.sidebar {
  background-color: hsl(240, 100%, 5%);
  padding: 2rem;
  color: white;
}

.sidebar h3 {
  color: hsl(35, 77%, 62%);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.sidebar-item {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #5e607a;
}

.sidebar-item:last-child {
  border-bottom: none;
}

.sidebar-item h4 {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.sidebar-item h4:hover {
  color: #e9ab53;
}

.sidebar-item p {
  color: #c5c6ce;
  font-size: 0.9rem;
  line-height: 1.6;
}


.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.article {
  display: flex;
  gap: 1rem;
}

.article img {
  width: 100px;
}

.article span {
  font-size: 2rem;
  font-weight: 700;
  color: #f15d51;
}

.article h4 {
  margin: 0.5rem 0;
  cursor: pointer;
}

.article h4:hover {
  color: hsl(5, 85%, 63%);
}

.article p {
  color: #5e607a;
  font-size: 15px;
  line-height: 1.6;
}

.menu-icon {
  display: none;
  width: 35px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 10;
}

.mobile-nav {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: white;
  padding: 2rem;
  transition: right 0.3s ease;
  z-index: 20;
}

.mobile-nav ul {
  list-style: none;
  margin-top: 4rem;
}

.mobile-nav li {
  margin-bottom: 1.5rem;
}

.mobile-nav a {
  text-decoration: none;
  color: #00001a;
  font-weight: 700;
}

.close-icon {
  width: 30px;
  cursor: pointer;
}

.mobile-nav.active {
  right: 0;
}

.overlay.active {
  display: block;
}

@media (max-width: 768px) {

  .main-container {
    grid-template-columns: 1fr;
  }

  .hero-content {
    grid-template-columns: 1fr;
  }

  .articles {
    grid-template-columns: 1fr;
  }

  .nav ul {
    display: none; 
  }
  .menu-icon {
    display: block;
  }
  

}
